@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --ligth-blue: #4387F4;
    --dark-blue: #326AC5;
    --ligth-orange: #F26433;
    --dark-orange: #BE4E27;
    --ligth-black: #4E4E4E;
    --ligth-gray: #F9F9F9;

    --roboto-slab: 'Roboto Slab';
    --roboto-condensed: 'Roboto Condensed'; 
    --open-sans: 'Open Sans';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: var(--ligth-black);
}

/*Configurando o Header*/

header{
    width: 100vw;
    height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-header{
    background-color: var(--ligth-gray);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-header{
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 9px 0px 9px 0px;
    align-items: center;
}

#container-toggle-theme{
    position: relative;
}

#toggle-theme{
    top: -21px;
    position: absolute;
    height: 42px;
    width: 76px;
    background-color: var(--ligth-gray);
}

/*Fim da configuração do Header*/

/*Configurando o Main*/

main{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: 0px auto 0px auto;
    position: relative;
}

    /*Configurando mensagens de introdução*/

.initialing-program{
    display: flex;
    align-items: center;
    font-family: var(--roboto-slab);
    font-size: 14px;
    height: 300px;
}

.initialing-program-none{
    display: none;
}

.introduction-messenger{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-messenger> h1{
    font-family: var(--roboto-slab);
    font-weight: 400;
    font-size: 32px;
    display: block;
}

.introduction-messenger> h3{
    font-family: var(--roboto-condensed);
    font-weight: 300;
    font-size: 16px;
    display: block;
}

    /*Fim da configuração da mensagens de introdução*/

#goals-container{
    display: flex;
    flex-direction: column;
}

#container-register-goals{
    position: absolute;
    background-color: var(--dark-blue);
    margin-left: 20px;
    width: 100%;
}

#container-register-goals ul{
    list-style: none;
}

#container-register-goals  a{
    position: absolute;
    top: -10px;
    left: -4px;
    background-color: var(--ligth-blue);
    color: #ffffff;
    font-family: var(--roboto-slab);
    font-size:16px;
    padding: 5px;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 4px 4px 0px var(--dark-blue);
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}

#container-register-goals  a:hover,#container-register-goals  a:focus{
    background-color: var(--ligth-blue);
    box-shadow: -4px -4px 0px var(--dark-blue);
}



#container-main-content{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.goals {
   position: relative;
   width: 380px;
   display: flex;
   flex-direction: column;
   background-color: var(--ligth-gray);
   margin: 18px 18px 0px 0px;
   padding: 18px;
}

.goals>h2 {
    font-family: var(--roboto-slab);
    color: var(--ligth-orange);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 18px;
}

.goals>p {
    font-family: var(--roboto-slab);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.bin{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

/*Fim da configuração do Main*/

#print-out-container{
    margin-right: 18px;

}

#print-out{
    font-family: var(--roboto-slab);
    font-size: 16px;
    font-weight: 400;
    margin-top: 56px;
    position: absolute;
    background-color: var(--ligth-blue);
    box-shadow: 4px 4px 0px var(--dark-blue);
    color: #ffffff;
    right: 18px;
    padding: 6px;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
    cursor: pointer;
}

#print-out:hover{
    box-shadow: -4px -4px 0px var(--dark-blue);
}

/*Inicio Footer*/

footer{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--ligth-black);
    color: #ffffff;
    height: 52px;
    margin-top: 25px;
}

#container-footer{
    position: relative;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--open-sans);
    font-weight: 400;
    font-size: 12px;
}

    /*Config social media*/

#social-media{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
}

.imagem a{
    display: flex;
    background-color: var(--ligth-orange);
    margin-right: 12px;
    width: 31px;
    height: 31px;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 0px var(--dark-orange);
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
}

.imagem a:hover{
    box-shadow: -4px -4px 0px var(--dark-orange);  
}

    /*Fim da config social media*/

/*------------------------------CRIAÇÃO DO MENU SANDWIC----------------------------------*/


#menu-burger{
    position: relative;
    height: 40px;
    width: 35px;
}

.blue-line-menu-1{
    top: 0px;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--ligth-blue);
}

.orange-line-menu-1{
    top: 10px;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--ligth-orange);
}

.blue-line-menu-2{
    top: 20px;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--ligth-blue);
}

.orange-line-menu-2{
    top: 30px;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--ligth-orange);
}

/*------------------------------CRIAÇÃO DA ÁREA DE FORMULÁRIOS----------------------------------*/


.content-forms-none{
    display: none;
    justify-content: center;
    align-items: center;
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffffffa6;
    transition-duration: 2s;
}

.content-forms{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffffffa6;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

#forms-area{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 458px;
    height: 400px;
    background-color: var(--ligth-gray);
    padding: 22px;
    color: var(--ligth-black);
    font-family: var(--roboto-slab);
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formulario{
    margin-top: 5px;
    margin-bottom: 20px;
    height: 35px;
    padding: 5px;
}

#closed-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 400;
    width: 32px;
    height: 32px;
    color: #FFFFFF;
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: var(--ligth-orange);
    box-shadow: 4px 4px 0px 0px var(--dark-orange);
    cursor: pointer;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s; 
}

#closed-btn:hover{
    box-shadow: -4px -4px 0px 0px var(--dark-orange);
}

input{
    background-color: #ffffff00;
    border: none;
    border-bottom: 2px solid var(--ligth-blue);
}

input:focus{
    color: var(--ligth-black);
    font-size: 14px;
    font-family: var(--roboto-condensed);
    outline: none;
    border: 2px solid var(--ligth-blue)
}

input:valid{
    color: var(--ligth-black);
    font-family: var(--roboto-condensed);
    font-size: 14px;
    outline: none;
}

#create-goal-btn{
    position: absolute;
    background-color: var(--ligth-blue);
    padding: 8px;
    bottom: 20px;
    right: 20px;
    color: #FFFFFF;
    box-shadow: 4px 4px 0px 0px var(--dark-blue);
    cursor: pointer;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s; 
}

#create-goal-btn:hover{
    box-shadow: -4px -4px 0px 0px var(--dark-blue);    
}


.color-blue{
    color: #F9F9F9;
    background-color: var(--ligth-blue);
    margin: 5px;
    padding: 5px;
    box-shadow: 4px 4px 0px 0px var(--dark-blue);
}

